@media screen and (max-width: 540px) {
    .globalHeader {
        display: fixed;
        top: 0;
        height: 10vw;
        background: $main;
        .globalHeader__label {
            color: $white;
            @include flex($justify: flex-start);
            font-size: 5vw;
            height: 100%;
            margin: 0 20px;
        }
    }
}